body { 
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.gridsquare{ 
    border: 0.5px solid black;
    text-align: center;
    background-color: white;
}
.container { 
    display: grid;
    width: 500px;
    height: 500px;
   
}
h1 { 
    text-align: center;
}
.reset { 
background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.changers { 
    display: flex;
    gap: 50px;

}
.size-value { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







